* {
    margin: 0;
    padding: 0;
    font-family: "treuchet ms", sans-serif;
    box-sizing: border-box; 
    --myblue: #0800ff;
    --mypurple: #a91fff;


}
body{
    background: black;
    color: var(--mypurple);
}
.logo {
    width: 10%;
    height: 10%;
}
.header-container {
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:var(--mypurple);
    text-decoration:none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: var(--myblue);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover:after{
    width:100%;
}
.main-container {
    display:flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: center;
    padding: 20px 0 0 0;
}
.main-item {
    width: 80%;
    height: 600px;
    background-color: lightgreen;
}
.about-me {
    display:flex;
    height: 350px;
}
.about-me-text {
    width: 60%;
}
.about-me img {
    width: 260px;
    height: 300px;
}