* {
    margin: 0;
    padding: 0;
    font-family: "trebuchet ms", sans-serif;
    box-sizing: border-box; 
    --myblue: #0800ff;
    --mypurple: #a91fff;
}
body{
    background: black;
    color: var(--mypurple);
}
.logo {
    height: 100px;
}
.logo-box {
   display: flex;
   flex-direction: column; 
}
.header-container {
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
}
.icon-text {
    font-size:9px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:var(--mypurple);
    text-decoration:none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: var(--myblue);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover:after{
    width:100%;
}
.applications-header {
    font-size: 30px;
}
.main-container {
    display:flex;
    flex-direction: column;
    /* background-color: lightblue;  */
    align-items: left;
    padding: 20px;
}
.main-item {
    width: 90%;
    height: 1000px;
    /* background-color: lightgreen;  */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.about-me {
    display:flex;
    height: 300px;
}
.about-me-header {
    font-size: 30px;
    /* text-decoration: underline 1px solid var(--myblue); */
}
.about-me-text {
    width: 60%;
    font-size: 25px;
    padding-top: 40px;
}
.about-me img {
    width: 260px;
    height: 300px;
}
.contact-me{
    /* background-color: pink;  */
    height: 30%;
    font-size: 20px;
    padding: 20px;
}
.contact-me ul {
    margin-left: 10%;
    display: inline-flex;
    list-style: none;
    margin: 10px 20px;
    font-size: larger;
}
.contact-me-header {
    font-size: 30px;
    padding-left: 20px;
}
.application-image {
    height: 70%;
    width: 100%;
    border: var(--myblue);
    border-style:groove;
    /* background-color: green; */
}
.top {
    height: 30%;
    /* background-color: red;   */
}
.application-card {
    height: 20%;
    width: 48%;
    /* background-color: aqua; */
}
/* .application-card1 { */
/* }   */
.applications {
    display: flex;
    justify-content: space-between;
    border: var(--myblue);
    padding-top: 20px;
    
}
.smaller-applications {
    display:flex;
    flex-wrap: wrap;
    /* background-color: orange; */
}
.application-image1 {
    background-image: url(./Images/semantic-img.png);
    height: 100%;
    width: 100%;
    background-size: cover;    
}
.application-image2 {
    background-image: url(./Images/calculator-image.jpg);
    height: 100%;
    width: 100%;
    background-size:contain;    
}
.application-image3 {
    background-image: url(./Images/cyber-security-image.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;    
}
.application-image4 {
    background-image: url(./Images/puzzle-image.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;    
}
.application-image5 {
    background-image: url(./Images/gaming-image.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;    
}